/* app global css */

/* header */
.hd-blue {
  background-color: #FFFFFF; color: #929292
}

/* left sidebar (=left menu) */
.menu-blue {
  background-color: #0C2135; color: #A0A8AF
}
.menu-blue .menu-dt-blue {
  background-color: #133556;
}
.menu-link {
  background: #0960BD; color: #F0FFFB;
}
.menu-dt-item {
  padding-left: 40px;
}
.q-item__section--avatar {
  /* override */
  min-width: 30px; width: 30px;
}
